/* !Styles pour les barres de progression
.progress-bars {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .progress-bar {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: progress-animation 2s linear forwards; /* Ajoutez l'animation */
  /* } */
  
  /* Définir l'animation */
  /* @keyframes progress-animation {
    0% {
      transform: rotate(0deg);
      border-color: #bbaeae;
    }
    100% {
      transform: rotate(270deg); /* 75% de 360° */
      /* border-color: #b30e0e;
    }
    100% {
      transform: rotate(360deg);
      border-color: #2c2929;
    } */
  /* } */ */




  /* Styles pour les barres de progression */
  
  #experience{
    display: flex;
    justify-content: center;
}
#experience ul{
    margin-right: 20px;
}
.boite{
    width: 440px;
    height: 30px;
    border: 1px solid black;
}
#couleur1{
    width: 431px;
    height: 100%;
    background-color:green;
    text-align: center;
}
#couleur2{
    width: 396px;
    height: 100%;
    background-color:green;
    text-align: center;
}
#couleur3{
    width: 352px;
    height: 100%;
    background-color:green;
    text-align: center;
}
#couleur4{
    width: 352px;
    height: 100%;
    background-color:green;
    text-align: center;
}
#couleur5{
    width: 352px;
    height: 100%;
    background-color:green;
    text-align: center;
}
#couleur6{
    width: 352px;
    height: 100%;
    background-color:green;
    text-align: center;
}
.pourcent{
    font-weight: bold;
}
